absl-py==2.1.0
addict==2.4.0
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
albumentations==1.3.0
anaconda-client @ file:///tmp/build/80754af9/anaconda-client_1607980744558/work
anaconda-project==0.8.3
anyio @ file:///tmp/build/80754af9/anyio_1644463572971/work/dist
appdirs==1.4.4
argh==0.26.2
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1613037499734/work
asttokens==2.2.1
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1605302235287/work
bkcharts==0.2
bleach==3.1.5
blessings @ file:///tmp/build/80754af9/blessings_1614075509756/work
blinker==1.4
boto==2.49.0
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1607575130224/work
brotlipy==0.7.0
certifi @ file:///croot/certifi_1683875369620/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
chardet @ file:///tmp/build/80754af9/chardet_1605303192865/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
cloudpickle @ file:///croot/cloudpickle_1683040006038/work
clyent==1.2.2
codecov @ file:///tmp/build/80754af9/codecov_1608229095833/work
colorama==0.4.6
conda-package-handling @ file:///croot/conda-package-handling_1672865015732/work
conda-verify==3.4.2
conda_package_streaming @ file:///croot/conda-package-streaming_1670508151586/work
contextlib2 @ file:///Users/ktietz/demo/mc3/conda-bld/contextlib2_1630668244042/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
coverage @ file:///tmp/build/80754af9/coverage_1645539108590/work
cryptography @ file:///tmp/build/80754af9/cryptography_1608674099201/work
cycler==0.11.0
cytoolz==0.10.1
dask @ file:///tmp/abs_994957d9-ec12-411f-b953-c010f9d489d10hj3gz4k/croots/recipe/dask-core_1658513209934/work
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator==5.1.1
defusedxml @ file:///home/ktietz/src/ci_mi/defusedxml_1612808095953/work
distlib @ file:///tmp/build/80754af9/distlib_1613173074792/work
docker-pycreds==0.4.0
docutils @ file:///tmp/build/80754af9/docutils_1607039187252/work
easydict==1.13
einops==0.6.0
entrypoints==0.3
executing==1.2.0
fairscale==0.4.13
fastcache @ file:///tmp/build/80754af9/fastcache_1607571273717/work
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
filelock==3.8.0
flake8 @ file:///home/ktietz/src/ci_ipy2/flake8_1612551519957/work
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Babel @ file:///tmp/build/80754af9/flask-babel_1613334313056/work
flit_core @ file:///croot/flit-core_1679397103445/work/source/flit_core
fonttools==4.38.0
fsspec==0.7.4
future @ file:///tmp/build/80754af9/future_1607571303524/work
gitdb==4.0.10
GitPython==3.1.31
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2==2.0.8
gpustat @ file:///tmp/build/80754af9/gpustat_1621432778913/work
grad-cam==1.4.6
greenlet @ file:///tmp/build/80754af9/greenlet_1607025733133/work
grpcio==1.68.1
h5py==3.8.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
huggingface-hub==0.10.1
hupper @ file:///tmp/build/80754af9/hupper_1607007455361/work
idna @ file:///croot/idna_1666125576474/work
imagecodecs @ file:///opt/conda/conda-bld/imagecodecs_1664561985385/work
imageio @ file:///croot/imageio_1677879560821/work
imagesize @ file:///Users/ktietz/demo/mc3/conda-bld/imagesize_1628863108022/work
importlib-metadata @ file:///croot/importlib-metadata_1678997070253/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
interrogate==1.5.0
ipdb==0.13.13
ipykernel @ file:///tmp/build/80754af9/ipykernel_1633534655931/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython==8.11.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
itsdangerous @ file:///home/ktietz/src/ci/itsdangerous_1611932585308/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi==0.18.2
jeepney==0.4.3
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
joblib==1.2.0
json5==0.9.5
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console @ file:///croot/jupyter_console_1671541909316/work
jupyter_core @ file:///croot/jupyter_core_1668084443243/work
jupyterlab==2.1.5
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1607707328286/work
locket==0.2.0
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1607027305082/work
matplotlib @ file:///croot/matplotlib-suite_1670466153205/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mccabe==0.6.1
mdurl==0.1.2
mistune @ file:///tmp/build/80754af9/mistune_1607364877025/work
mkl-fft==1.3.0
mkl-random==1.0.2
mkl-service==2.3.0
mmcls==0.25.0
mmcv==1.7.1
mmcv-full==1.7.1
mmdet==2.25.3
mmengine==0.10.7
mmsegmentation==0.30.0
mock==4.0.2
model-index==0.1.11
more-itertools==8.4.0
mpmath==1.1.0
multipledispatch @ file:///tmp/build/80754af9/multipledispatch_1607574243360/work
munkres==1.1.4
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==5.0.7
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==3.0
ninja==1.11.1.3
nose @ file:///opt/conda/conda-bld/nose_1642704612149/work
notebook @ file:///tmp/build/80754af9/notebook_1635411643303/work
numexpr @ file:///tmp/build/80754af9/numexpr_1607693755918/work
numpy==1.26.4
nvidia-ml-py3 @ file:///tmp/build/80754af9/nvidia-ml_1621428042568/work
oauthlib==3.1.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.6.0.66
opencv-python-headless==4.7.0.72
openmim==0.3.6
ordered-set==4.1.0
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso==0.7.0
partd==1.1.0
PasteDeploy==2.0.1
pathlib2 @ file:///tmp/build/80754af9/pathlib2_1607024947855/work
pathtools==0.1.2
patsy==0.5.1
pbkdf2 @ file:///tmp/build/80754af9/pbkdf2_1607007480847/work
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
pkginfo==1.5.0.1
plaster==1.0
plaster-pastedeploy==0.7
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
pluggy @ file:///tmp/build/80754af9/pluggy_1615976318790/work
ply==3.11
portalocker==3.1.1
prettytable @ file:///tmp/abs_98zzak2ptg/croot/prettytable_1671655647513/work
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
ptflops==0.6.9
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pycocotools==2.0.5
pycodestyle @ file:///home/ktietz/src/ci_mi/pycodestyle_1612807597675/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome @ file:///tmp/build/80754af9/pycryptodome_1613764591558/work
pyflakes @ file:///home/ktietz/src/ci_ipy2/pyflakes_1612551159640/work
Pygments==2.14.0
PyJWT @ file:///tmp/build/80754af9/pyjwt_1610911318034/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyramid==1.10.4
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==5.4.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python3-openid @ file:///tmp/build/80754af9/python3-openid_1614366121783/work
pytorch-wavelets==1.3.0
pytz==2022.7.1
PyWavelets==1.4.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq @ file:///croot/pyzmq_1682697643292/work
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1643819126524/work
QtPy @ file:///Users/ktietz/demo/mc3/conda-bld/qtpy_1630512172840/work
qudida==0.0.4
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.0
rich==13.3.2
rope==0.17.0
Rtree @ file:///tmp/build/80754af9/rtree_1607977211510/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.9.3
seaborn==0.10.1
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sentry-sdk==1.17.0
setproctitle==1.3.2
Shapely @ file:///tmp/build/80754af9/shapely_1632813485019/work
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1605205306277/work
smmap==5.0.0
sniffio @ file:///tmp/build/80754af9/sniffio_1614030464178/work
snowballstemmer @ file:///home/ktietz/src/ci/snowballstemmer_1611921371749/work
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///home/ktietz/src/ci/sphinxcontrib-htmlhelp_1611920974801/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///home/ktietz/src/ci/sphinxcontrib-serializinghtml_1611920755253/work
stack-data==0.6.2
tabulate==0.9.0
tblib==1.6.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==3.1.0
terminado @ file:///croot/terminado_1671751832461/work
terminaltables==3.1.10
testpath @ file:///home/ktietz/src/ci/testpath_1611930608132/work
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.2.3
timm==0.6.11
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz @ file:///Users/ktietz/demo/mc3/conda-bld/toolz_1629399962119/work
torch==1.12.0
torch-dct==0.1.6
torch-encoding==1.2.1
torchaudio==0.12.0
torchfm==0.7.0
torchmetrics==0.11.4
torchsummary==1.5.1
torchvision @ file:///croot/torchvision_1670313549871/work
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets==5.9.0
transaction==3.0.0
translationstring==1.3
triton==3.4.0
ttach==0.0.3
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
unicodecsv==0.14.1
urllib3==1.25.9
venusian==1.2.0
virtualenv @ file:///tmp/build/80754af9/virtualenv_1620977681177/work
wandb==0.14.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
WebOb==1.8.6
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614803975924/work
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1607531506226/work
wrapt @ file:///tmp/build/80754af9/wrapt_1607712509268/work
WTForms @ file:///Users/ktietz/demo/mc3/conda-bld/wtforms_1629354749392/work
xdoctest==1.1.1
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf==0.32.0
zict==2.0.0
zipp==3.15.0
zope.deprecation==4.4.0
zope.interface @ file:///tmp/build/80754af9/zope.interface_1625036153595/work
zstandard @ file:///croot/zstandard_1677013143055/work
